  <%= link_to :back do %>
    <div class="d-flex align-items-center mt-3 ms-3">
      <i class="fa-solid fa-circle-arrow-left fs-2"></i>
  <% end %>
      <p class="mb-0 ms-2">back</p>
    </div>
<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <%# <% if request.url.include?("artists") %>
      <%# <%= f.simple_fields_for :artist_tags do |tags_form| %>
        <%# <%= tags_form.input :tag, collection: Tag.all %>
      <%# <% end %>
    <%# <% end %>


    <%= f.input :bio,
        # required: true,
        input_html: { autocomplete: "bio" }%>

<%= f.input :location,
        # required: true,
        autofocus: true,
        input_html: { autocomplete: "location" }%>

<%= f.input :pronouns,
        # required: true,
        input_html: { autocomplete: "pronouns" }%>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-lg btn-default btn-success" %>
  </div>
<% end %>
</div>



<div class="container" style="text-align: right"><p>Thinking of leaving us? <%= link_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></p></div>
