
<div class="container">

<h1>All Artists</h1>
<% @artists.each do |artist| %>
  <ul>
    <li>First name: <%= artist.first_name %></li>
    <li>Last name:<%= artist.last_name %></li>
    <li>Bio: <%= artist.bio %></li>
    <li>Pronouns: <%= artist.pronouns %></li>
    <h2>TAGS FUCK YES</h2>
    <% artist.tags.each do |tag| %>
    <div class="container">
    <li><%= tag.name %></li>
    </div>
    <% end %>
    <%# <%= link_to "#{arists.first_name}s", artist_path %> 
  </ul>
<h3>------------------</h3>
<% end %>
</div>
