
<div class="grid-artist-show">
  <aside class="d-flex justify-content-end">
  <div class="side">
    <%# TODO: change below link path %>
    <%= link_to "< back to results", root_path %>

    <div class="artist-avatar"></div>
    <h2>
      <%= "#{@artist.first_name} #{@artist.last_name}" %>
    </h2>

    <p>
      <%= @artist.bio %>
    </p>

    <div class="tags-holder">
    tags will go here
    </div>

    <p>
      <%= @artist.pronouns %>
    </p>
    <p>
      <%= @artist.location ? @artist.location : "" %>
    </p>
  </div>
  </aside>
  <main>
    <h2>Works</h2>
    <div class="artwork-container">
      <% @artworks.each do |artwork| %>

        <%= render partial: "shared/artwork", artwork: artwork %>

      <% end %>

      <%# THIS IS A TEST RENDER JUST TO SEE HOW IT LOOKS... delete later %>
      <%= render partial: "shared/artwork" %>
    </div>
  </main>

</div>
