<div class="page-wrapper">
    <%= link_to artists_path, class: "text-decoration-none" do %>
    <div class="tab-button tab-button--artists">
      <div class="sideways-text">Artists</div>
    </div>
  <% end %>


<div class="container mt-3 artist-card__container">

  <h1>All Artwork</h1>

  <p>#TODO - Add cloudinary to app</p>

  <ul>
    <% @artworks.each do |artwork| %>
      <li><%= artwork.name %></li>
      <li><%= artwork.genre %></li>
      <li><%= artwork.tags %></li>
      <%= link_to "Delete",
          artwork_path(artwork),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%# VALIATION ITS ARTIST AND NOT USER FOR DELETE METHOD %>
    <% end %>
  </ul>
</div>
<%= link_to opportunities_path, class: "text-decoration-none" do %>
    <div class="tab-button tab-button--opportunities">
      <div class="sideways-text">Opportunities</div>
    </div>
  <% end %>

</div>
