<h1>All Artwork</h1>

<p>#TODO - Add cloudinary to app</p>

<ul>
  <% @artworks.each do |artwork| %>
    <li><strong><%= artwork.name %></strong></li>
    <li><small><%= artwork.genre %></small></li>
    <% artwork.tags.each do |tag| %>
    <li><em><%= tag.name %></em></li>
    <% end %>
    <%= link_to "Delete",
        artwork_path(artwork),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%# VALIATION ITS ARTIST AND NOT USER FOR DELETE METHOD %>
  <% end %>
</ul>


 <%# <% artwork.tags.each do |tag| %>
    <%# <li><%= tag.name %></li> %>
    <%# <% end %> %> %>
