<div class="container">
  <h1><%= @user.first_name %></h1>
  <% @users.each do |user| %>
    <ul>
      <li><%= user.first_name %></li>
      <li><%= user.last_name %></li>
      <li><%= user.email %></li>
      <li><%= user.location %></li>
    </ul>
  <% end %>
</div>

<button class="btn">
  <%= link_to "Delete USER", user_path(@user),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</button>

