<button type="button" class="circle" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <div class="circle::before"></div>
  <div class="plus-side"></div>
    <%# add shortlist %>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m">
    <div class="modal-content">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Artwork</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <%= simple_form_for(@new_artwork) do |f| %>
        <%= f.input :name %>
        <%= f.input :genre %>
        <%= f.input :photo, as: :file %>
        <%= f.submit value: "Add", class:"art-add" %>
        <% end %>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
