<!-- Button trigger modal -->
<button type="button" class="border border-0" data-bs-toggle="modal" data-bs-target="#exampleModal<%= artwork.id %>">

  <div class="artwork__card">
    <div class="artwork__frame">
      <% if artwork.photo.key %>
        <%= cl_image_tag artwork.photo.key %>
      <% elsif artwork.image_url %>
        <%= image_tag artwork.image_url %>
      <% else %>
         <h2>NAUGHT</h2>
      <% end %>
      <%# leaving this here for when we have cloudinary %>
      <%#= image_tag artwork.image.key %>
    </div>
    <p class="artwork__title"><%= artwork.name %></p>
    <p><%= artwork.genre %></p>
  </div>

  <%# https://www.nationalgalleries.org/sites/default/files/styles/ngs-default/public/externals/40984.jpg?itok=faemvZEs %>

</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal<%= artwork.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-width">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header d-flex justify-content-between">
        <h1 class="modal-title ms-0 fs-5" id="exampleModalLabel"><%= "#{artwork.artist.first_name} #{artwork.artist.last_name}" %></h1>
        <p class="modal-title fs-5"> <%= "#{artwork.name}" %> </p>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
      </div>
      <div class="modal-body">

        <%= image_tag artwork.image_url %>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <% if @artist = current_artist %>
          <%= link_to "Remove Art", artwork_path, class: "btn btn-primary" %>
        <% end %>
        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
        <%= render partial: "shared/tags_container", locals: { tags: artwork.tags } %>
      </div>
    </div>
  </div>
</div>
