<button type="button" class="border border-0" data-bs-toggle="modal" data-bs-target="#exampleModal<%= artwork.id %>">

  <div class="artwork__card">
    <div class="artwork__frame">
      <%= cl_image_tag artwork.photo.key %>
    </div>
    <p class="artwork__title"><%= artwork.name %></p>
    <p><%= artwork.genre %></p>
  </div>

  <%# https://www.nationalgalleries.org/sites/default/files/styles/ngs-default/public/externals/40984.jpg?itok=faemvZEs %>

<!-- Button trigger modal -->
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal<%= artwork.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-width">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= "#{@artist.first_name} #{@artist.last_name} ##{artwork.name}" %></h1>
        <%#= "#{artist.last.first_name}" %>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Carousel -->
        <%# <img src="https://source.unsplash.com/random/" class="d-block carousel-img" alt="..."> %>
        <%# <%= cl_image_tag artwork.photo.key, class: "d-block carousel-img" %>
        <%# <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner modal-carousel-height">
            <div class="carousel-item active" data-bs-interval="3000">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="https://source.unsplash.com/random/300x300" class="d-block carousel-img" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="https://source.unsplash.com/random/300x300" class="d-block carousel-img" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> %>

      </div>
      <div class="modal-footer">
        <%= render partial: "shared/tags_container", locals: { tags: artwork.tags } %>
      </div>
    </div>
  </div>
</div>
