<div class="artist-card">
  <div class="artist-card__image"></div>
  <div class="artist-card__info">
    <h3>
      <%= "#{artist.first_name} #{artist.last_name}" %>
    </h3>
    <p>
      <%= icon('fa-solid', 'location-dot')%>  <%= artist.location ? artist.location : "" %>
    </p>
    <p>
      <%= icon('fa-solid', 'user')%>  <%= artist.pronouns ? artist.pronouns : "" %>
    </p>
    <p class="flex-grow-1">
      <%= artist.bio %>
    </p>

    <%= render partial: "shared/tags_container", locals: { tags: artist.tags } %>
  </div>
</div>
