<div class="d-flex flex-row recent-opp">
  <% Opportunity.last(3).each do |opportunity| %>
    <%= link_to opportunity_path(opportunity), class: "text-decoration-none" do %>
    <div class="opp-poster">
      <div class="color-bar"></div>
      <div class="p-3">
        <h4><%= opportunity.title %></h4>
        <p class="m-0">
          <%= icon('fa-regular', 'calendar')%>  <%= opportunity.date ? opportunity.date.strftime("%d %B, %Y") : "No Date Set" %>
        </p>
        <p class="m-0">
          <%= icon('fa-solid', 'location-dot')%>  <%= opportunity.location ? opportunity.location : "" %>
        </p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
