<div class="shortlist-wrap">
  <div class="shortlist-yellow">
    <div class="shortlist-name">
      <h1>My Favourites</h1>
      <p>* A collection of your favourite Artists</p>
      <%# <h1><%= @shortlist.name</h1>  %>
      <%# <%= link_to "Delete", shortlist_path(@shortlist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary text-decoration-none" %>
      <%= render partial: "shared/edit_shortlist_modal", locals: { shortlist: @shortlist } %>
    </div>
  </div>
<div>
  <%= link_to artists_path, class: "text-decoration-none" do %>
    <div class="d-flex align-items-center mt-4">
      <i class="fa-solid fa-circle-arrow-left fs-2"></i>
  <% end %>
      <p class="mb-0 ms-2">back</p>
  </div>
</div>

    <%# <h1>Artists</h1> %>
  <div class="shortlist-artists">
    <% @shortlist.artists.each do |artist| %>
      <%= link_to artist_path(artist.id), class: "text-decoration-none artist-card__link my-4" do %>

        <%= render partial: "shared/artist_card", locals: {artist: artist} %>
      <% end %>
    <% end %>
  </div>
</div>





 <%# <% @shortlist.artists.each do |artist| %>
    <%# <div class="container">
        <%# <p class="card-text"> - <%= link_to "#{artist.first_name}", artist_path(artist.id) %>
    <%# </div>
    <% end %>
