
<%# <div class="landing-flex-box">

  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>
  <div class="landing-flex-item"></div>



</div>

<div class="landing-bottom"></div> %>


<span id="ss-tp"></span>
<div class="wrapper" id="ss-top">
  <div class="column column-1">
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
    <div class="image image-1"></div>
    <div class="image image-2"></div>
    <div class="image image-3"></div>
    <div class="image image-4"></div>
  </div>

  <div class="column column-2">
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
    <div class="image image-5"></div>
    <div class="image image-6"></div>
    <div class="image image-7"></div>
    <div class="image image-8"></div>
  </div>

  <div class="column column-3">
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
    <div class="image image-9"></div>
    <div class="image image-10"></div>
    <div class="image image-11"></div>
    <div class="image image-12"></div>
  </div>

  <div class="column column-4">
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
    <div class="image image-13"></div>
    <div class="image image-14"></div>
    <div class="image image-15"></div>
    <div class="image image-16"></div>
  </div>

  <div class="column column-5">
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
    <div class="image image-17"></div>
    <div class="image image-18"></div>
    <div class="image image-19"></div>
    <div class="image image-20"></div>
  </div>
</div>

<div class="landing-bottom">
  <div class="discover">

    <h1 class="animate__animated animate__bounce">Welcome to All of You</h1>
    <p class="m-0 fs-5">
      Start discovering new artistic talent today, or sign up as an artist to share your work with people that matter.
    </p>
    <div class="d-flex flex-row w-70 align-items-center">
      <a href="/search" style="text-decoration:none;" class="mr-2 h-100 d-flex" id="discover-btn">
          <span class="my-auto">Discover</span>
      </a>

      <a href="#ss-1" id="ss">
        <div class="bg-image learn-more" style="" id="more-btn">
        <p class="m-0">Learn More</p>
        <i class="fa-solid fa-angle-down fa-bounce"></i>
        </div>
      </a>

    </div>

    <br>

  </div>

  <br>
</div>

<div class="aoy-infos__wrapper">
<div class="aoy-infos container">
  <div class="aoy-infos__card rand-artist">
      <h4>
      This week's featured artist:
      </h4>
      <%= link_to artist_path(@artist), class: "text-decoration-none" do %>
      <div class="artist-card__image rand-img" style="background-image: url('<%= @artist.artworks.empty? ? "" : @artist.artworks.sample.image_url %>')"></div>
      <% end %>

      <div class="rand-info">
        <h3 class="text-center"><%= @artist.first_name %> <%= @artist.last_name %></h3>

        <div class="text-center">
          <%= render partial: "shared/tags_container", locals: { tags: @artist.tags } %>
        </div>
      </div>

  </div>

  <div class="aoy-infos__card about-aoy" id="">
      <p class="info-text fs-4">
      <strong class="text-primary fs-3">
      All of you</strong> are invited to share and source the creativity you need.
      </p><p class="info-text">
      A space for artists to share <strong class="text-primary">who they are</strong> and
      the work they make, and for opportunity makers to <strong class="text-primary">find the artists they need.</strong>
      </p>
  </div>

  <div class="aoy-infos__card">
    <h4>
      Upcoming Opportunity
    </h4>
    <%= link_to opportunity_path(@opportunity), class: "text-decoration-none" do %>
      <div class="artist-card__image rand-img" style="background-image: url('')"></div>
      <% end %>

      <div class="rand-info">
        <h3 class="text-center"><%= @opportunity.title %></h3>

        <div class="text-center">
        <p class="m-0">
          <%= icon('fa-regular', 'calendar')%>  <%= @opportunity.date.strftime("%d of %B, %Y") %>
        </p>
        <p class="m-0">
          <%= icon('fa-solid', 'location-dot')%>  <%= @opportunity.location ? @opportunity.location : "" %>
        </p>        </div>
      </div>
  </div>
</div>
  <div class="text-center" style="display:flex; justify-content:center;">
    <a href="#ss-tp" id="ss-1" class="text-decoration-none text-white">
      <div style="" class="to-top" id="more-btn">
        <i class="fa-solid fa-chevron-up fa-bounce"></i>
        <p class="m-0 text-white">Back to Top</p>
    </a>
  </div>
</div>

</div>
