<%= simple_form_for(@opportunity) do |f| %>
<br>

<div class="d-flex w-50 justify-content-between">
  <strong><label for="status">Open/Close Opportunity</label></strong>
  <%= f.input :status, as: :boolean %>
</div>

  <%= f.input :title %>
  <%= f.input :location %>

  <%# date picker %>
  <%= f.input :date, as: :date, html5: true %>

  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Save Details", class: "btn btn-primary w-100"%>
<% end %>
