<h1>All Opportunities</h1>

<div class="container">
  <% @opportunities.each do |opportunity| %>
    <ul>
      <li><%= opportunity.title %></li>
      <li><%= opportunity.location %></li>
      <li><%= opportunity.description %></li>
      <li><%= opportunity.status %></li>
      <li><%= opportunity.tags %></li>
      <%= link_to "Delete",
          artwork_path(opportunity),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          <%# must add validation that its user, not artist for delete method %>
    </ul>
  <% end %>
</div>
