<div class="shortlist-wrap">
  <div class="shortlist-name-column fixed-top">
    <div class="short-sideways-text">
      <h1>My opportunities</h1>
    </div>
  </div>

  <div class="mine-column">
    <%= link_to "Advertise a new opportunity", new_opportunity_path, class: "btn btn-primary advertise" %>
    <div class="shortlist-container">
      <% @opportunities.each do |opportunity| %>
        <%= link_to opportunity_path(opportunity), class: "text-decoration-none opportunity-card__link" do %>
          <%= render partial: "shared/opportunity_card", locals: {opportunity: opportunity} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
















<%# <div class="container my-4 artist-card__container"> %>

    <%# <div class="d-flex justify-content-between align-items-center">
      <h1>My Opportunities</h1> %>
      <%# <%= link_to "Advertise a new opportunity", new_opportunity_path, class: "btn btn-primary" %>
    <%# </div> %>

    <%# <% @opportunities.each do |opportunity| %>
      <%# <%= link_to opportunity_path(opportunity), class: "text-decoration-none opportunity-card__link" do %>
        <%# <%= render partial: "shared/opportunity_card", locals: {opportunity: opportunity} %>
      <%# <% end %>
    <%# <% end %>

  <%# </div> %>
