<div class="shortlist-wrap">
  <div class="shortlist-yellow">
    <div class="shortlist-name">
      <h1>My opportunities</h1>
    </div>
  </div>

<div>
<%= link_to artists_path, class: "text-decoration-none" do %>
<div class="d-flex align-items-center mt-4">
<i class="fa-solid fa-circle-arrow-left fs-2"></i>
<% end %>
<p class="mb-0 ms-2">back</p>
</div>
</div>
  <div class="shortlist-artists">
    <%= link_to "Advertise a new opportunity", new_opportunity_path, class: "btn btn-primary advertise" %>
    <div class="shortlist-container">
      <% @opportunities.each do |opportunity| %>
        <%= link_to opportunity_path(opportunity), class: "text-decoration-none opportunity-card__link" do %>
          <%= render partial: "shared/opportunity_card", locals: {opportunity: opportunity} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
















<%# <div class="container my-4 artist-card__container"> %>

    <%# <div class="d-flex justify-content-between align-items-center">
      <h1>My Opportunities</h1> %>
      <%# <%= link_to "Advertise a new opportunity", new_opportunity_path, class: "btn btn-primary" %>
    <%# </div> %>

    <%# <% @opportunities.each do |opportunity| %>
      <%# <%= link_to opportunity_path(opportunity), class: "text-decoration-none opportunity-card__link" do %>
        <%# <%= render partial: "shared/opportunity_card", locals: {opportunity: opportunity} %>
      <%# <% end %>
    <%# <% end %>

  <%# </div> %>
