<div class="opp-box d-flex">

  <div class="opp-headers w-75">
    <div class="text-left w-100">
      <%= link_to "< back to Opportunities", opportunities_path, class: "butt-opp link-back-opp" %>
      <%# <div class="test-div">TESTER</div> %>
    </div>

    <div class="opportunity-info">
      <h1><%= @opportunity.title %></h1>

      <br>

      <div class="tags-box">
        <%= render partial: "shared/tags_container", locals: { tags: @opportunity.tags }, class: "w-3" %>

        <br>

        <% if current_user == @opportunity.user %>
          <form action='/opportunities/<%= @opportunity.id %>' data-controller="tom-select" class="opp-tags">
            <input type="hidden" value="" name="tags" id="tag-box">
            <select data-tom-select-target="selector" data-action="input->tom-select#change" multiple name="newtag" id="select-tags" class="p-1">
              <% Tag.all.each do |tag| %>
                <option value='<%= tag.name %>'><%= tag.name %></option>
              <% end %>
            </select>
            <input type="submit" value="Add Tags" class="m-1 btn btn-primary rounded-pill">
          </form>
        <% end %>
      </div>

      <br>

      <div class="opp-icons">
        <p>
          <%# <%= @opportunity.location %>
          <%= icon('fa-solid', 'location-dot')%> <%= @opportunity.location ? @opportunity.location : "" %>
        </p>
        <p>
          <%= @opportunity.description %>
        </p>
      </div>

      <br>

    <div class="opp-applicants">
      <% if current_user == @opportunity.user %>
        <div class="apps-title">
          <h3>Applied Artists</h3>
        </div>
      <% end %>
      <%# TODO Add applied artists here %>

    </div>

  </div>

    </div>


  <aside class="w-25 side-info">
    <div class="p-5">
      <%# TODO: change below link path %>
      <div class="opp-pic-box">
        <%# HERE FOR WHEN IMAGES ARE ATTACHED %>
        <%# <% if @opportunity.photo.key %>
          <%# <% cl_image_tag opportunity.photo.key %>
        <%# <% else %>
          <img src="https://www.scotsman.com/webimg/b25lY21zOmFiMTA0ZTA1LTgzOWEtNDhiNy04N2FjLTZkNTVmNTJhNmU1MjoyZjZhNzRlYS0yNWIyLTQzNzItYmNiNi00NGE1MWI3MWFiNzE=.jpg?crop=61%3A45%2Csmart&width=800" class="opp-pic shadow-sm" width="300">
        <%# <% end %>
      </div>
      <% if current_user == @opportunity.user %>
        <div class="button-box">
          <%= link_to 'Edit This Opportunity', edit_opportunity_path(@opportunity), class: "butt-opp" %>
        </div>
      <% end %>
    </div>

    <br>

    <div class="successful-art">
      <% @opportunity.each do |opportunity| %>
        <%  %>
      <% end %>
    </div>

  </aside>

</div>
