<div class="opp-box d-flex">
  <div class="opp-headers w-75">
    <div class="back text-left w-100">
      <% if current_user == @opportunity.user %>
        <%= link_to "< back to opportunities", my_opportunities_path %>
      <% else %>
        <%= link_to "< back to opportunities", :back %>
      <% end %>
      <%# <div class="test-div">TESTER</div> %>
    </div>
    <div class="opportunity-info">
      <h1 class="mb-4"><%= @opportunity.title %></h1>

      <div class="opp-icons d-flex row text-left fs-5">
          <%# <%= @opportunity.location %>
          <div class="col-6 ic-1">
            <%= @opportunity.location ? @opportunity.location : "" %> <%= icon('fa-solid', 'location-dot')%>  <br>
            <%= @opportunity.date ? @opportunity.date.strftime("%d-%m-%Y") : "" %> <i class="fa-solid fa-calendar-days"></i>
          </div>
          <div class="col-6 ic-2">
            <i class="fa-regular fa-user"></i> <%= @opportunity.user.first_name %> <%= @opportunity.user.last_name %> <br>
            <i class="fa-regular fa-square-check"></i> <%= @opportunity.status ? "Open for Applications" : "This Opportunity is now Closed!" %>
          </div>
      </div>
      <br>
      <div class="tags-box my-2">
        <%= render partial: "shared/tags_container", locals: { tags: @opportunity.tags }, class: "current-tags" %>
        <% if current_user == @opportunity.user %>
          <form action='/opportunities/<%= @opportunity.id %>' data-controller="tom-select" class="opp-tags my-2">
            <div class="d-flex flex-row w-100">
            <input type="hidden" value="" name="tags" id="tag-box">
            <select data-tom-select-target="selector" data-action="input->tom-select#change" multiple name="newtag" id="select-tags" class="flex-grow-1">
              <% Tag.all.each do |tag| %>
                <option value='<%= tag.name %>'><%= tag.name %></option>
              <% end %>
            </select>
            <input type="submit" value="Add Tags" class="btn btn-primary btn-sm">
            </div>
          </form>
        <% end %>
      </div>
      <br>


      <div class="opp-desc">
        <%= @opportunity.description %>
      </div>
      <br>
    <div class="opp-applicants">
      <% if current_user == @opportunity.user && @opportunity.status%>
        <div class="apps-title my-1">
          <h3>These artists have applied:</h3>
        </div>
      <% end %>
      <div class="applications-box d-flex flex-column">
        <% if @opportunity.status == true %>
          <% if current_user == @opportunity.user %>
            <% @opportunity.applications. each do |application| %>
                <% artist = application.artist %>
                <% if application.success == true %>
                  <% next %>
                <% else %>
                  <div class="appl-card my-2">
                    <div class="m-1">
                      <%# Artist Avatar %>
                      <% if artist.photo.key %>
                        <%= cl_image_tag artist.photo.key, crop: fill, class: "avatar" %>
                      <% else %>
                        <%= image_tag "https://news.artnet.com/app/news-upload/2022/05/SHGH2-e1652097979660-256x256.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <% end %>
                      <br>
                      <strong><%= artist.first_name %> <%= artist.last_name %></strong>
                    </div>
                    <div class="text-center d-flex align-items-center">
                      <%= application.content %>
                    </div>
                    <div class="accept-deny">
                      <%= button_to "accept", toggle_success_application_path(application), method: :patch, class: "accept-b app-btn" %>
                      <% @application = Application.find(application.id) %>
                      <%= link_to 'reject', opportunity_application_path(@opportunity, application: application), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "reject-b app-btn" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% elsif current_artist %>
              <%# TODO Render the app form if not already applied %>
              <% if current_artist.applications.empty? %>
                  <div class="apply-here">
                    <h3>Apply Here</h3>
                  </div>
                  <%= render 'applications/form' %>
              <% else %>
                <% unless current_artist.applications.where(artist_id: current_artist.id, opportunity_id: @opportunity.id).empty? %>
                  <div class="applied">
                    <h2>You've applied!</h2>
                  </div>
                <%else %>
                  <div class="apply-here">
                    <h3>Apply Here</h3>
                  </div>
                  <%= render 'applications/form' %>
                <% end %>
              <% end %>
          <% else %>
            <h3 class="border-bottom"><%= current_user ? "Opportunity is now over" : "This user has closed this Opportunity" %></h3>
          <% end %>
          <% end %>
        </div>
    </div>
  </div>
    </div>
  <aside class="w-25 side-info">
    <div class="px-4 pt-5">
      <%# TODO: change below link path %>
        <%# HERE FOR WHEN IMAGES ARE ATTACHED %>
        <% if @opportunity.photo.key %>
           <% cl_image_tag @opportunity.photo.key %>
        <% else %>
          <img src="https://www.scotsman.com/webimg/b25lY21zOmFiMTA0ZTA1LTgzOWEtNDhiNy04N2FjLTZkNTVmNTJhNmU1MjoyZjZhNzRlYS0yNWIyLTQzNzItYmNiNi00NGE1MWI3MWFiNzE=.jpg?crop=61%3A45%2Csmart&width=800" class="opp-pic shadow-sm" width="300">
        <% end %>
      <% if current_user == @opportunity.user && @opportunity.status %>
        <div class="button-box">
          <%= link_to 'Edit This Opportunity', edit_opportunity_path(@opportunity), class: "btn btn-secondary w-100" %>
        </div>
      <% end %>
    </div>
    <br>
    <div class="successful-art text-center">
      <% if current_user == @opportunity.user %>
        <h5 class="success-header">Accepted Artists</h5>
          <% @opportunity.applications.each do |application| %>
            <% if application.success == true %>
              <div class="appl-card-small my-1">
                <div>
                  <%= image_tag "https://news.artnet.com/app/news-upload/2022/05/SHGH2-e1652097979660-256x256.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <%= application.artist.first_name %> <%= application.artist.last_name %>
                </div>
                <div class="align-items-center d-flex">
                  <strong class="text-success">Accepted</strong>
                </div>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </aside>
</div>
